:root {
    font-size: 18px;
    --light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0.1);
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    z-index: -10;
    font-family: Hanken Grotesk;
    background-color: var(--White);
    min-height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
}

main {
    width: 600px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.screen {
    width: 100%;
    height: 500px;
    border-radius: 25px;
    position: relative;
    background-color: var(--Pale-blue);
    -webkit-box-shadow: 0 0 25px 10px var(--Pale-blue);
    box-shadow: 0 0 25px 10px var(--Pale-blue);
    z-index: 0;
}

.screen .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 52.5%;
    height: 100%;
    border-radius: inherit;
    padding: 50px;
}

.screen .result {
    background: -o-linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
    background: -webkit-gradient(linear, left top, left bottom, from(var(--Light-slate-blue)), to(var(--Light-royal-blue)));
    background: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
    color: var(--Light-lavender);
    position: absolute;
    left: 0;
}

.screen .circule {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: -o-linear-gradient(var(--Violet-blue), var(--Persian-blue));
    background: -webkit-gradient(linear, left top, left bottom, from(var(--Violet-blue)), to(var(--Persian-blue)));
    background: linear-gradient(var(--Violet-blue), var(--Persian-blue));
}

.screen .circule p:first-child {
    color: var(--White);
    font-size: 4rem;
    font-weight: 800;
}

.screen .result div+p {
    color: var(--White);
    font-size: 1.5rem;
    font-weight: 700;
}

.screen .result p {
    font-size: 0.8rem;
}

.card.marks {
    position: absolute;
    right: 0;
    z-index: -1;
    background-color: var(--White);
    padding: 50px 50px;
}

.marks h3 {
    text-align: left;
    -ms-flex-item-align: start;
    align-self: flex-start;
    font-weight: 700;
}

.card .marker {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
    height: 300px;
    -ms-flex-item-align: start;
    align-self: flex-start;
    z-index: -1;
}

.marks .mark {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: clamp(200px, 100%, 100%);
    height: 50px;
    position: relative;
    padding: 10px;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.mark:hover {
    scale: 1.1;
}

.mark::before {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    -webkit-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.left {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.left .item {
    margin-right: 20px;
}

.right {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.right p {
    color: var(--Light-lavender);
}

.right p span {
    color: var(--Dark-gray-blue);
}

.red {
    background-color: hsla(0, 100%, 67%, 0.1);
    color: var(--light-red);
    border-radius: 10px;
}

.red::before {
    background-color: hsla(0, 100%, 67%, 0.6);
}

.red:hover::before {
    width: 80%;
}

.yellow {
    background-color: hsla(39, 100%, 56%, 0.1);
    color: var(--Orangey-yellow);
    border-radius: 10px;
}

.yellow::before {
    background-color: hsla(39, 100%, 56%, 0.6);

}

.yellow:hover::before {
    width: 92%;
}


.green {
    background-color: hsla(166, 100%, 37%, 0.1);
    color: var(--Green-teal);
    border-radius: 10px;
}

.green::before {
    background-color: hsla(166, 100%, 37%, 0.6);

}

.green:hover::before {
    width: 61%;
}

.blue {
    background-color: hsla(234, 85%, 45%, 0.1);
    color: var(--Cobalt-blue);
    border-radius: 10px;
}

.blue::before {
    background-color: hsla(234, 85%, 45%, 0.6);
}

.blue:hover::before {
    width: 72%;
}

button.continue {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: var(--Dark-gray-blue);
    color: var(--White);
    width: 100%;
    height: 50px;
    border-radius: 25px;
    z-index: 3;
    font-family: inherit;
    font-weight: 700;
    border: none;
}

.continue:hover {
    background: -o-linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
    background: -webkit-gradient(linear, left top, left bottom, from(var(--Light-slate-blue)), to(var(--Light-royal-blue)));
    background: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
}

footer {
    position: absolute;
    bottom: 1%;
}

@media screen and (max-width: 600px) {
    main {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .screen {
        height: 100%;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .screen .card {
        width: 100%;
        padding: 30px;
    }

    .screen .result {
        top: 0;
        height: 42.5%;
        border-radius: 0 0 25px 25px;
    }

    .result .circule {
        width: 100px;
        height: 100px;
    }

    .screen .circule p:first-child {
        font-size: 2rem;
    }

    .screen .result div+p {
        font-size: 1rem;
    }

    .card.marks {
        bottom: 0;
        height: 62.5%;
        padding: 50px 30px;
    }

}